.App {
    direction: rtl;
    color: white;
}

.App-title {
    text-align: center;
}

.App-logo {
    margin-top: 50px;
    height: 30vmin;
    pointer-events: none;
}

/* // add media query here */

.App-description {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 0s linear;
    }
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 768px) {
    .App-logo {
        height: 15vmin;
    }
    form {
        padding: 60px !important;
    }
}

@media (max-width: 768px) {
    .App-logo {
        margin-top: 25px;
    }
}

form {
    padding: 15px;
}

.form-input {
    display: block;
    padding: 5px;
    border: none;
    margin-top: 4px;
    font-size: 15px;
    width: 100%;
    border-radius: 5px;
}

.form-label {
    display: block;
    padding: 2px;
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.form-submit {
    color: #000;
    background-color: #fad90f;
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
    border-radius: 5px;
    padding: 6px;
    border: none;
    width: 100%;
}

.footer {
    font-weight: bold;
    opacity: 0.7;
    color: gray;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}